/*body{
            color: gray;
        }
    a{
        font-family: 微软雅黑;
        color: gray!important ;
        text-decoration: none!important;
    }

    a:hover{
        color: rgb(176, 145, 106)!important;
    }



     .dropdown-menu {
         border: 1px solid white;
         opacity: 0.8;
         
     }
     .dropdown-menu li a{
         font-weight: bold;
     }  

    .navbar {
        margin-bottom: 10px!important;
        
    }
    
    #class>li{
        width: 150px;
        text-align: center;
        font-size: 14px;
        border-top: solid 1px #D9D9D9;
    }
    samp{
        cursor: auto;
        display: block;
        text-align: center;
    }*/


    .footr{
        background-color: rgb(242, 246, 247);
        padding-top: 50px;
    }

    .btn{
        width: 150px;
        background-color: rgb(176, 145, 106);
        color: white;
    }

    .has-warning{
        width: 300px;
        display: inline-block!important;
        
    }
    .form-control{
        width: 300px;
        height: 40px;
        background-color: rgb(240, 240, 240);
        font-size: 16px;
        border-radius: 0;
        border: 0px;
        
    }
    .alert-warning.show{
        width: 300px;
        display: inline-block!important;
        font-size: 10px;
        height: 50px;
        margin: 5px;
        
    }
    .has-error{
        display: inline-block!important;
    }
 
    .alert-danger.show{
        width: 300px;
        display: inline-block!important;
        height: 50px;
        font-size: 10px;
        margin: 5px;
    }